<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ .Site.BaseURL }}</title>
  {{ $style := resources.Get "tailwind.css" | postCSS | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<body class="font-barlow">
  {{ partial "header.html" . }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
</body>
</html>