<footer class="py-16 bg-gable-green bg-cover bg-no-repeat bg-center" style="background-image: url({{.Site.BaseURL}}images/footer.webp);">
  <div class="content">
    <div class="text-white flex flex-col md:flex-row md:flex-wrap md:items-center md:-mx-4">
      <div class="w-full md:w-1/2 md:px-4 lg:w-1/4">
        <img src='{{ "images/logo.webp" | absURL }}' alt="">
      </div>
      <div class="w-full md:w-1/2 md:px-4 lg:w-1/4">
        <p class="font-semibold uppercase font-barlow-condensed">Comparte</p>
      </div>
      <div class="w-full md:w-1/2 md:px-4 lg:w-1/4">
        <p class="font-semibold uppercase font-barlow-condensed">Contáctanos</p>
        <a href="mailto:ganaderiasostenible@fedegan.org.co">ganaderiasostenible@fedegan.org.co</a>
      </div>
      <div class="w-full md:w-1/2 md:px-4 lg:w-1/4">
        <img src='{{ "images/creative_commons.svg" | absURL}}' alt="">
        <p>Todo el material en esta página, cuando no se indique lo contrario, es CC-BY-SA. Si reúsas o adaptas recursos de esta página por favor vincúlalos y referéncialos</p>
      </div>
    </div>
  </div>
</footer>