{{ define "main" }}
  <section class="bg-porcelain py-24">
    <div class="content">
      <article class="flex flex-col mt-0 md:flex-row md:items-center md:-mx-4 lg:-mx-10">
        <div class="md:px-4 md:w-1/3 lg:px-10 lg:w-5/12">
          <img src='{{ "images/pajaro.webp" | absURL }}' alt="pajaro" class="w-48 md:w-64 block mx-auto">
        </div>
        <div class="mt-4 md:mt-0 md:px-4 md:w-2/3 lg:px-10 lg:w-7/12">
          <h3 class="font-barlow-condensed font-semibold uppercase text-pickled-bluewood text-3xl lg:text-4xl">¿Qué es?</h3>
          <p class="text-nevada mt-4 lg:text-lg">Esta es la herramienta de estimación de biodiversidad y captura de carbono del proyecto Ganadería Colombiana Sostenible. Esta aplicación te permitirá calcular la cantidad de carbono atmosférico que estás contribuyendo a reducir al implementar sistemas silvopastoriles en tus predios. También podrás estimar el número de especies de aves y escarabajos que estás ayudando a preservar y hacer proyecciones futuras sobre el uso de...</p>
        </div>
      </article>
      <article class="flex flex-col mt-16 md:flex-row-reverse md:items-center md:-mx-4 lg:-mx-10">
        <div class="md:px-4 md:w-1/3 lg:px-10 lg:w-5/12">
          <img src='{{ "images/pasto.webp" | absURL }}' alt="pasto" class="w-48 md:w-64 block mx-auto">
        </div>
        <div class="mt-4 md:mt-0 md:px-4 md:w-2/3 lg:px-10 lg:w-7/12">
          <h3 class="font-barlow-condensed font-semibold uppercase text-pickled-bluewood text-3xl lg:text-4xl">¿Por qué es importante?</h3>
          <p class="text-nevada mt-4 lg:text-lg">Los sistemas tradicionales ganaderos han sido comúnmente asociados con altas emisiones de gases de efecto invernadero (como el dióxido de carbono y el metano), que son parte de las mayores causas del calentamiento global. Por medio de la fotosíntesis, los árboles y arbustos ayudan a reducir una parte del carbono atmosférico al almacenarlo en sus organismos. Es por esto que el proyecto Ganadería Colombiana Sostenible busca promover, en fincas ganaderas colombianas, la adopción de sistemas silvopastoriles, cercas vivas y árboles dispersos en potreros, así como conservar áreas de bosques primarios y secundarios.</p>
        </div>
      </article>
      <article class="flex flex-col mt-16 md:flex-row md:items-center md:-mx-4 lg:-mx-10">
        <div class="md:px-4 md:w-1/3 lg:px-10 lg:w-5/12">
          <img src='{{ "images/industria.webp" | absURL }}' alt="industria" class="w-48 md:w-64 block mx-auto">
        </div>
        <div class="mt-4 md:mt-0 md:px-4 md:w-2/3 lg:px-10 lg:w-7/12">
          <h3 class="font-barlow-condensed font-semibold uppercase text-pickled-bluewood text-3xl lg:text-4xl">¿Qué es el calentamiento global?</h3>
          <p class="text-nevada mt-4 lg:text-lg">Es el incremento progresivo y a largo plazo de la temperatura global, con respecto al promedio histórico. Su principal causa se conoce como efecto invernadero. Este ocurre cuando los rayos del sol penetran la atmósfera, pero el calor reflejado de la superficie de la tierra no puede escapar al espacio, lo que provoca un aumento de la temperatura en el planeta. Son los gases de efecto invernadero los que evitan que el calor reflejado no pueda escapar al espacio. Estos son producidos por la quema de combustibles como la gasolina, durante procesos industriales o por la quema de material vegetal producto de la deforestación. Algunos de estos son el dióxido de carbono (CO<sub>2</sub>), el metano (CH<sub>4</sub>) y el óxido nitroso (N<sub>2</sub>O)</p>
        </div>
      </article>
      <article class="flex flex-col mt-16 md:flex-row-reverse md:items-center md:-mx-4 lg:-mx-10">
        <div class="md:px-4 md:w-1/3 lg:px-10 lg:w-5/12">
          <img src='{{ "images/vaca.webp" | absURL }}' alt="vaca" class="w-48 md:w-64 block mx-auto">
        </div>
        <div class="mt-4 md:mt-0 md:px-4 md:w-2/3 lg:px-10 lg:w-7/12">
          <h3 class="font-barlow-condensed font-semibold uppercase text-pickled-bluewood text-3xl lg:text-4xl">¿Qué es la captura de carbono?</h3>
          <p class="text-nevada mt-4 lg:text-lg">El carbono cumple un ciclo en el que es almacenado y reemplazado en la Tierra. La captura de carbono es una parte de este ciclo que ocurre por medio de la fotosíntesis que llevan a cabo las plantas. En este proceso, el carbono es absorbido a través de las hojas y almacenado en forma de glucosa dentro de las especies vegetales. Esta captura es fundamental para disminuir la cantidad de gases de efecto invernadero presentes en la atmósfera y, por lo tanto, contribuye a mitigar el calentamiento global. Es por eso que la presencia de plantas que capturan una gran cantidad de carbono (como los árboles y arbustos) en las áreas de ganadería es importante para que estos proyectos sean sostenibles.</p>
        </div>
      </article>
    </div>
  </section>
  <section class="bg-pickled-bluewood py-24">
    <div class="content">
      <h3 class="text-mantis text-center uppercase font-barlow-condensed leading-tight">
        <span class="font-regular block text-3xl lg:text-4xl">¿Qué tipo de cobertura propicia la</span>
        <span class="font-semibold text-4xl lg:text-5xl">captura de carbono?</span>
      </h3>
      <div class="flex flex-col pt-16 md:flex-row md:flex-wrap md:justify-center md:-mx-4">
        <article class="flex flex-col items-center text-center text-white mb-16 md:max-w-md md:px-4">
          <img src='{{ "images/bosque_primario.webp" | absURL }}' class="w-40" alt="imagen bosque primario">
          <p class="uppercase font-semibold font-barlow-condensed mt-2 mb-4 text-xl md:text-2xl">Bosque primario</p>
          <p>Son áreas de bosque maduro que no han sido intervenidas por los humanos en los últimos 30 años y cuyo uso es de conservación estricta. Actividades como la extracción de madera, la cacería y las prácticas agropecuarias están restringidas en estas áreas.</p>
        </article>
        <article class="flex flex-col items-center text-center text-white mb-16 md:max-w-md md:px-4">
          <img src='{{ "images/bosque_secundario.webp" | absURL }}' class="w-40" alt="imagen bosque secundario">
          <p class="uppercase font-semibold font-barlow-condensed mt-2 mb-4 text-xl md:text-2xl">Bosque secundario</p>
          <p>Son áreas de bosque en proceso de regeneración natural en respuesta a daños causados por actividades del ser humano. Su uso es de conservación estricta y actividades como la extracción de madera, la cacería y las prácticas agropecuarias están restringidas en estas áreas.</p>
        </article>
        <article class="flex flex-col items-center text-center text-white mb-16 md:max-w-md md:px-4">
          <img src='{{ "images/arboles_dispersos_potreros.webp" | absURL }}' class="w-40" alt="imagen arboles dispersos en potreros">
          <p class="uppercase font-semibold font-barlow-condensed mt-2 mb-4 text-xl md:text-2xl">Árboles dispersos en potreros</p>
          <p>Son áreas de pastos naturales o mejorados que tienen árboles dispersos aleatoriamente (cuando son producto de la regeneración natural) o sistemáticamente (cuando han sido plantados). En este tipo de cobertura hay menos de 25 árboles por hectárea.</p>
        </article>
        <article class="flex flex-col items-center text-center text-white mb-16 md:max-w-md md:px-4">
          <img src='{{ "images/cercas_vivas.webp" | absURL }}' class="w-40" alt="imagen cercas vivas">
          <p class="uppercase font-semibold font-barlow-condensed mt-2 mb-4 text-xl md:text-2xl">Cercas vivas</p>
          <p>Son límites prediales conformados por árboles, arbustos o palmas dispuestos de manera lineal que reemplazan los postes de madera muerta o cemento y que contribuyen a reducir la erosión del suelo, a incrementar la diversidad biológica y a mejorar el ciclo de nutrientes y las reservas de carbono.</p>
        </article>
        <article class="flex flex-col items-center text-center text-white mb-0 md:max-w-md md:px-4">
          <img src='{{ "images/sistemas_silvopastoriles.webp" | absURL }}' class="w-40" alt="imagen sistemas silvopastoriles">
          <p class="uppercase font-semibold font-barlow-condensed mt-2 mb-4 text-xl md:text-2xl">Sistemas silvopastoriles intensivos</p>
          <p>Son áreas que combinan especies de plantas forrajeras como pastos y leguminosas con arbustos y árboles en alta densidad. Mientras las plantas forrajeras proveen de alimento al ganado, los árboles y arbustos ayudan a reducir la erosión del suelo, a incrementar la diversidad biológica y a mejorar las reservas de carbono.</p>
        </article>
      </div>
    </div>
  </section>
  <section class="py-24 bg-porcelain">
    <div class="content">
      <article class="flex flex-col mt-0 md:flex-row md:items-center md:-mx-4 lg:-mx-10">
        <div class="md:px-4 md:w-1/3 lg:px-10 lg:w-5/12">
          <img src='{{ "images/pajaro_2.webp" | absURL }}' alt="pajaro" class="w-48 md:w-64 block mx-auto">
        </div>
        <div class="mt-4 md:mt-0 md:px-4 md:w-2/3 lg:px-10 lg:w-7/12">
          <h3 class="font-barlow-condensed font-semibold uppercase text-pickled-bluewood text-3xl lg:text-4xl">¿Cómo sé si mi proyecto es sostenible?</h3>
          <p class="text-nevada mt-4 md:text-lg">Nuestra herramienta de estimación de biodiversidad y captura de CO<sub>2</sub> le permitirá calcular la cantidad de carbono atmosférico que está contribuyendo a reducir al implementar sistemas silvopastoriles en sus predios. También podrá estimar el número de especies de aves y escarabajos que está ayudando a preservar y hacer proyecciones futuras sobre el uso de sus suelos.</p>
          <a href="https://randommonkey.shinyapps.io/GanaderiaSostenible/" target="_blank" class="inline-block mt-6 px-4 py-2 leading-none uppercase font-semibold bg-pickled-bluewood text-white font-barlow-condensed text-2xl">Ir a la herramienta</a>
        </div>
      </article>
    </div>
  </section>
{{ end }}